<p style="color: green"><%= notice %></p>

<%= render @watchlist %>

<div>
  <%= link_to "Edit movie", edit_watchlist_path(@watchlist) %> |
  <%= link_to "Back to watchlists", watchlists_path %>

  <%= button_to "Remove from watchlist", @watchlist, method: :delete %>
</div>


